<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CommercialSystem.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="SAP.Middleware.Connector">
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco" />
      </sectionGroup>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CommercialSystem.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="CommercialSystem.My.MySettings.pricinganalisysConnString" connectionString="data source=c:\CommercialSystem\dados\PricingAnalisys.db3" providerName="System.Data.SQLite" />
    <add name="CommercialSystem.My.MySettings.SAPcommercialsystem" connectionString="data source=c:\CommercialSystem\dados\SapCS.db3" providerName="System.Data.SQLite.EF6" />
    <add name="CommercialSystem.My.MySettings.SapIVDPConnectionString" connectionString="data source=C:\CommercialSystem\dados\SapIVDP.db3" providerName="System.Data.SQLite" />
    <add name="SapCSEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=c:\CommercialSystem\dados\SapCS.db3&quot;" providerName="System.Data.EntityClient" />
    <add name="SalesSystemEntities" connectionString="metadata=res://*/Forecast.csdl|res://*/Forecast.ssdl|res://*/Forecast.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRVSYMDB;Initial Catalog=SalesSystem;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="CommercialSystem.My.MySettings.SAPpricing" connectionString="data source=c:\CommercialSystem\dados\SapCS.db3" providerName="System.Data.SQLite.EF6" />
    <add name="CommercialSystem.My.MySettings.SapCSConnectionString" connectionString="data source=C:\CommercialSystem\dados\SapCS.db3" providerName="System.Data.SQLite.EF6" />
    <add name="CommercialSystem.My.MySettings.SapCSConnectionString1" connectionString="data source=C:\CommercialSystem\dados\SapCS.db3;synchronous=Off" providerName="System.Data.SQLite.EF6" />
    <add name="CommercialSystem.My.MySettings.SapIVDPConnectionString1" connectionString="data source=C:\CommercialSystem\dados\SapIVDP.db3" providerName="System.Data.SQLite.EF6" />
    <add name="SymFITEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srvsymdb;initial catalog=SymFIT;User Id=sa;Password=?$S&amp;F&amp;E?+$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    
  </connectionStrings>
  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <add NAME="QAS" USER="sap_basis" PASSWD="SymingtonQual1" CLIENT="100" LANG="EN" ASHOST="srvsapqual1" SYSNR="00" MAX_POOL_SIZE="10" IDLE_TIMEOUT="10" />
          <add NAME="DEV" USER="abapdev" PASSWD="symington" CLIENT="200" LANG="EN" ASHOST="192.168.0.233" SYSNR="02" MAX_POOL_SIZE="10" IDLE_TIMEOUT="10" />
          <add NAME="PRD" USER="sap_basis" PASSWD="SymingtonProd1" CLIENT="100" LANG="EN" ASHOST="192.168.0.231" SYSNR="02" MAX_POOL_SIZE="10" IDLE_TIMEOUT="10" />
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
  </SAP.Middleware.Connector>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <CommercialSystem.My.MySettings>
      <setting name="skin" serializeAs="String">
        <value>DevExpress Style</value>
      </setting>
    </CommercialSystem.My.MySettings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.99.0" newVersion="1.0.99.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CommercialSystem.My.MySettings>
      <setting name="StorageConnectionString" serializeAs="String">
        <value>DefaultEndpointsProtocol=https;AccountName=symingtonstorage;AccountKey=ZzG/UM8g+XmOJ5yoStsoppAcxnhftIA87v2h1MphJES/0PFNwm/7NINgjYYCRrh+bcSBSKMfGkspBB9uGMVm3A==</value>
      </setting>
    </CommercialSystem.My.MySettings>
  </applicationSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>